footer.footer
    div.footer__icon
        i.fab.fa-youtube                                                
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy; 
                  //- #{} 로 자바스크립트 코드집어넣을수있음.
