header.header        
    .header__column  
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action = routes.search, method = "get")
            input(type="text", placeholder="Search by term...")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login

                //- div.~~~일때는 div안적고 걍 아이디만적어도댐.--//
                //- middleware 에서 처리해줘서 routes. 이렇게가져올수있음